body {
font-family: 'Roboto Slab', serif;
}


h1{
  color :  rgb(87, 83, 83)
}

img {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  object-fit: cover;



}
a{
  background-color: rgb(38, 117, 170);
  color: antiquewhite;
  text-decoration: none;
  padding: 10 px 20 px;
  border-radius: 9 px;
  display: inline-block;
  margin-top: 20px;

}

p {
  color: rgb(0, 0, 0)
}

h2 {
  color: rgb(9, 74, 77);
}

.container  {
  width: 500px;
  margin: 0 auto;
}


.card-white {
  background-color: white;
  box-shadow: 0px 5px 20px lightgray;
  padding: 20px;
  text-align: center;
  margin-top: 20px;
  border-radius: 8px;
}

li{
  display: inline;
  padding: 0;
  margin: 0;

}

ul {
  padding:0;
  margin: 0;
}

i {
  font-size: 40px;
  color: lightskyblue;
}
